<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502433283174-qgker0jjtopbn4omev0134fg1ea7i7vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502433283174-qgker0jjtopbn4omev0134fg1ea7i7vo</string>
	<key>API_KEY</key>
	<string>AIzaSyD4ON3ju2H9D_6DNgpRam2cA8-P-jDQH18</string>
	<key>GCM_SENDER_ID</key>
	<string>502433283174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dreamteam.Flash-Chat-IOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-char-ios-13-5252d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-char-ios-13-5252d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502433283174:ios:246b842f57af3f491801a7</string>
</dict>
</plist>